BasedOnStyle: LLVM
Language: Cpp
Standard: c++23
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
NamespaceIndentation: All
SortIncludes: CaseSensitive
